@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
*::before,*::after{
  
    box-sizing: border-box;
}
:root {
    /*primary*/
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);/*graphic design text*/
    --Dark-blue: hsl(198, 62%, 26%);/*photography text*/
    --Dark-moderate-cyan: hsl(168, 34%, 41%);/*footer*/
    /*Neutral*/
    
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --ff-01:'Barlow', sans-serif;
    --ff-02: 'Fraunces', serif;

  }
  body{
      min-height: 100vh;
      margin: 0;
      padding: 0;

  }

  .show{
      display: block;
  }
  /*typography and colors*/
  .text-light{
      color: var(--White);
      letter-spacing: 0.1em;
  }.parah-text{
      color: var(--Dark-grayish-blue);
      font-size: 2rem;
      font-weight: 900;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 2em;
  }
  .text-dark{
      color: var(--Very-dark-desaturated-blue);
  }
  .gd-text{
      color: var(--Dark-desaturated-cyan);
      margin-bottom: 1em;
  }
  .ph-text{
      color: var(--Dark-blue);
  }
  .footer-bg{
background: var(--Dark-moderate-cyan
);
  }
  .ff-pm{
      font-family: var(--ff-02);
  }
  .ff-sc{
    font-family: var(--ff-01);
    font-size: 1rem;
  }
  .fw-light{
      font-weight: 900;
      text-align: center;
  }

  .fw-medium{
      font-weight: 900;
      text-align: center
  }
  .fw-heavy-h{
      font-weight: 900;
      text-align: center;
  }
  
  /*header*/
.header{
    height: 45rem;
    background: url('./images/desktop/image-header.jpg') bottom
      center/cover no-repeat;
    padding: 1em 1em;
    padding-bottom: 20em;
    
}
.header-logo{
    margin-top: 1em;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.heading{
    display: flex;
    flex-direction: column;
    margin-top: 28em;
margin: 0 auto;    
align-items: center;
width: 100%;
max-width: 800px;
text-transform: uppercase;
}
.arrow-img{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3em;
}
.cta{
    width: 30%;
    margin-top: -15px;
    padding: 0.8em;
    border: 1px solid transparent;
    border-radius: 20px;
    text-transform: uppercase;
    font-size:1rem;
}
/*Grid-Box*/
.box-a{
    width: 100%;
}
.box-b{
    width: 100%;
}
.box-img img{
    width: 100%;
}
.box-a-content{
    margin-top: 3em;
    margin-bottom: 1em;
    padding: 1em;
}
.box-a-content h2{
    margin-bottom: 0.5em;
}

.box-b-content{
    padding: 1em;
}
.box-b-content h2{
    margin-bottom: 0.5em;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 2em;
    cursor: pointer;
}
.btn-yellow{
    background: var(--White);
    border:1px solid var(--White);
    border-bottom: 4px solid var(--Yellow);
    text-transform: uppercase;
}
.btn-red{
    background: var(--White);
    border:1px solid var(--White);
    border-bottom: 4px solid var(--Soft-red);
    text-transform: uppercase;
}
/*graphic-design section*/
.container{
    display: flex;
}
.gd-container{
    background: url('./images/desktop/image-graphic-design.jpg') bottom
    center/cover no-repeat;
    min-height: 30vh;
    width: 100%;
    
}

.gd-content{
    width: 60%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 12em;
    margin-bottom: 4em;
    text-align: center;
}
.gd-content p{
    font-size: 0.8rem;
}
/*photogrpahy section*/
.ph-container{
    background: url('./images/desktop/image-photography.jpg') bottom
    center/cover no-repeat;
    min-height: 30vh;
    width: 100%;
    max-width: 800px;
}
.photo-content{
    width: 60%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 12em;
    margin-bottom: 4em;
    text-align: center;
  
}
.ph-content p{
    font-size: 10px;
   
}
/*client's testimonial*/
.ct-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
align-items: center;
margin: 0 auto;
text-align: center;
}
.ct-heading{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.6rem;
    color: var(--Grayish-blue);
    font-weight: 900;
    margin-top: 4em;
}
.cl-profile{
    padding: 2em;
    margin-top: 2em;
}
.profile-img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 2em;
}
.bio{
    margin-top: 1em;
}
/*gallery*/
.wrapper img {
    width: 200px;
    height: 300px;
    object-fit: contain;
}
.wrapper {
    display: flex;
    width: 100%;
    margin-bottom: -30px;
    overflow: hidden;
  }
/*mobile-gallery*/
 
/*footer*/
footer{
    background: var(--Dark-moderate-cyan);
    height: 18rem;
}
.footer-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.footer-container h2{
    margin-top: 2em;
}
.footer-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    gap: 3em;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.social-icons{
    display: flex;
    margin-top: 2em;
    gap: 2em;
}
.fa-facebook-square,.fa-instagram,.fa-twitter,.fa-pinterest{
    color: var(--Dark-desaturated-cyan);
}

.fa-facebook-square:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-pinterest:hover{
    color: white;
    transition: 0.2s ease;
}
.footer-menu a:hover{
    color: white;
    transition: 0.2s ease;
}
/*mobile-menu*/
.mobile-toggle{
    display: block;
}
#btn{
    margin-top: 1em;
    position: absolute;
    left: 80%;
    background: transparent;
    outline: none;
    border: 1px solid transparent;

}
.mobile-menu{
    position: absolute;
    top: 15%;
    right: 6%;
    width: 65%;
    max-width: 600px;
    padding: 2em ;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
            font-size: 1em;
    display:none;
    line-height: 2em;
    margin-left: auto;
    margin-right: auto;
  transition: 0.5s all ease-in;
    background: var(--White);
    text-align: center;
    
}.mobile-menu li a{
    
    color: var(--Very-dark-grayish-blue);
    font-weight: 400;
    font-size: 0.9rem;
}
.show {
  display: flex;
  transition: 0.5s;
}
.mobile-menu .cta{
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 8px;
    padding: 1em;
    background: var(--Yellow);
    border: 1px solid transparent;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 900;
}
.shape {
  position: absolute;
  top: -8%;
  right: 0;
  border-top: 1.4rem solid transparent;
  border-right: 1.1rem solid white;
  border-bottom: 1.4rem solid transparent;
  border-left: 1.4rem solid transparent;
}


@media only screen and (min-width:20em){
    
    .header{
        min-height: 300px;
        background: url('./images/desktop/image-header.jpg') top center/cover no-repeat;
        padding: 1em;
    }
   
    .heading{
        display: flex;
        margin: 0 auto;    
        margin-top: 7em;
        align-items: center;
        width: 100%;
        max-width: 600px;
        text-transform: uppercase;}
        .desktop-menu{
            display: flex;
            justify-content: space-between;
            align-items: right;
            gap: 2em;
        }
        
        .arrow-img img{
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            margin-top:0.2em;
        }
        li a{
            font-weight: 900;
            font-size: 10px
        }
     
        .cta:hover{
            transition: 0.2s ease;
            background: rgb(117, 200, 248);
            color: #fff;
        }
        .container{
            display: flex;
        }
        footer{
            height: 200px;
        }
        .footer-menu{
            margin-top: -20px;
            gap: 1em;
        }
        .footer-menu li a{
            font-size: 0.7rem;
        }
        .footer-head h2{
            font-size: 1rem;
        }
        .social-icons{
            display: flex;
            margin-top: 1em;
            gap: 1.4em;
        }
   
        .box-a,.box-b{
            width: 100%;
        }
        .box-a-content,.box-b-content{
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 2em;
            width: 65%;
        }
        .box-a-content h2,.box-b-content h2{
            text-align: left;
            align-items: left;
            font-size: 1.4rem;
            width: 100%;

        }
        .box-a-content p,.box-b-content p{
            font-size: 0.9rem;
            text-align: left;
            font-weight: 600;
        }
        button{
            display: flex;
            justify-content: left;
            align-items: left;
            margin-left: 2px;
        }
        .btn-yellow,.btn-red{
            font-size: 0.9rem;
        }
        .grid-col-2{
            display: grid;
            grid-template-columns:repeat(2, 1fr);
        
            align-items: center;
            justify-content: space-between;
        }
        .grid-reverse :first-child{
            order:2;
            }
       /* .wrapper{
            display: flex;
            width: 100%;
            background:red;
            overflow-x: hidden;

        }*/
        .gd-container,.ph-container{
width: 50% 50%;
height: 30rem;
background-position: center;
background-size: cover;

        }
        .gd-content,.photo-content{
            margin-top: 18em;
        }
        .gd-text,.ph-text{
            font-size: 1.8rem;
        }
        .photo-content p ,.gd-content p{
            font-size: 1rem;
        }
           
            .ct-container{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-top: 2em;
                text-align: center;

            }
            .ct-heading{
                width: 50%;
                margin-top: 1em;
                margin: 0 auto;
                font-size: 1rem;
                text-align: center;
                
  }
.profile-img img{
    width: 40px;
    height: 40px;
}
.quote h4{
    font-size:1rem;
    color: var(--Very-dark-grayish-blue);
}
.bio h4{
    font-size:0.8rem ;
}
.bio h5{
    font-size: 0.7rem;
}
.wrapper{
    width: 100%;
}
.wrapper img{
    max-width: 100%;
    height: 300px;
    object-fit: contain;
}
.footer-head h2{
    font-size: 2rem;
    margin-top: 1em;
}
.footer-nav li a{
    font-size: 1.2rem;
}
.social-icons a{
    font-size: 1.5rem;
    margin-bottom: 1em;
}
.mobile-toggle{
    display: none;
}
    }
    @media(max-width:760px){
        .header{
            height: 300px;
        }
        .heading{
            margin-top: 5em;
        }
        .heading h1{
            font-size: 1rem;
        }
        .mobile-toggle{
            display: block;
        }
        .desktop-nav{
            display: none;
        }
        .wrapper{
            max-width: 100%;
            flex-wrap: wrap;
            margin-bottom: -2px;
        }
        .wrapper img{
            width: 138px;
            height: 158px;
            object-fit: contain;
        }
        .container{
            margin-top: 2em;
            flex-direction: column;
        }
        .gd-content,.photo-content{
            margin-top: 17em;
            width: 100%;
        }
       
        .ct-heading{
            margin-top: 4em;
        }
        .box-a-content p,.box-b-content p{
            font-size: 0.7rem;
          
        }
        .quote h4{
            font-size:0.8rem;
        }
        .bio h4{
            font-size:0.8rem ;
        }
        .bio h5{
            font-size: 0.7rem;
        }
       
    }
